language: python
python:
  - "3.7"
  - "3.8"
  - "3.9"
# command to install dependencies
install:
  - pip install -r requirements.txt
  - pip install codecov
  - pip install pytest-cov
  - pip install .
# command to run tests
script:
  - pytest --cov-report=xml --cov=tap_test_data_generator tests/

after_success:
  - codecov

deploy:
  provider: pypi
  user: __token__
  password: $PYPI_TOKEN
  distributions: "sdist bdist_wheel"
  skip_existing: true
  on:
    tags: true