#############################################
# library dependencies
#############################################
singer-python==5.12.1
setuptools==41.2.0
ijson==3.1.4
jsonschema==2.6.0
allpairspy==2.5.0
Faker==7.0.1
exrex==0.10.5

###########################################
# dev dependencies
###########################################
# testing
coverage==5.5
pytest==6.2.2
pytest-mock==1.10.0
testfixtures==6.3.0

# version management
bump2version